In [11]:
import sqlalchemy
from sqlalchemy import create_engine, select, Table, Column, Integer, String, MetaData

engine = create_engine('sqlite:///books.db', echo=True)  # Set echo to True to log SQL statements


metadata = MetaData()
books = Table('books', metadata,
              Column('id', Integer, primary_key=True),
              Column('title', String),
              Column('author', String),
              Column('year', Integer))


with engine.connect() as conn:
   
    titles_to_insert = [
        {'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'year': 1960},
        {'title': '1984', 'author': 'George Orwell', 'year': 1949},
        {'title': 'Pride and Prejudice', 'author': 'Jane Austen', 'year': 1813},
        {'title': 'The Catcher in the Rye', 'author': 'J.D. Salinger', 'year': 1951},
        {'title': 'The Great Gatsby', 'author': 'F. Scott Fitzgerald', 'year': 1925}
    ]

    conn.execute(books.insert().values(titles_to_insert))

    
    stmt = select([books.c.title]).order_by(books.c.title.asc())

   
    result = conn.execute(stmt)
    titles = result.fetchall()


for title in titles:
    print(title[0])

2023-09-16 03:49:07,891 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author, year) VALUES (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?)
2023-09-16 03:49:07,892 INFO sqlalchemy.engine.Engine [no key 0.00180s] ('To Kill a Mockingbird', 'Harper Lee', 1960, '1984', 'George Orwell', 1949, 'Pride and Prejudice', 'Jane Austen', 1813, 'The Catcher in the Rye', 'J.D. Salinger', 1951, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)
2023-09-16 03:49:07,897 INFO sqlalchemy.engine.Engine COMMIT
2023-09-16 03:49:07,901 INFO sqlalchemy.engine.Engine SELECT books.title
FROM books ORDER BY books.title ASC
2023-09-16 03:49:07,903 INFO sqlalchemy.engine.Engine [generated in 0.00195s] ()
1984
Pride and Prejudice
The Catcher in the Rye
The Great Gatsby
To Kill a Mockingbird